.image1 {
  background-image: url(https://source.unsplash.com/kp9UVn-PUac)
}

.image2 {
  background-image: url(https://source.unsplash.com/oHrodCLNnU8)
}

.image3 {
  background-image: url(https://source.unsplash.com/x7CDil50KKY)
}

.image4 {
  background-image: url(https://source.unsplash.com/OMXPrCAhxrE)
}

.image5 {
  background-image: url(https://source.unsplash.com/eV3eeq0fpRw)
}

.image6 {
  background-image: url(https://source.unsplash.com/P_p4NGz5Cb4)
}

.image7 {
  background-image: url(https://source.unsplash.com/3bpKvzknix0)
}

.image8 {
  background-image: url(https://source.unsplash.com/ucdh5HMkRMg)
}

.image9 {
  background-image: url(https://source.unsplash.com/G85VuTpw6jg)
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
}

body {
  padding-top: 70px;
}
